.filejet-alert-text {
  color: #dd3d36;
  font-weight: bold;
  font-size: 120%;
  margin-top: .5rem;
}

.filejet-alert {
  border: 1px solid #e5e5e5;
  padding: 0.4em 1em 1.4em 1em;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  h3.filejet-key-status {
    color: #fff;
    margin: 1em 0 0.5em 0;
  }
  &.filejet-critical {
    background-color: #993300;
  }
  &.filejet-success {
    background-color: #369854;
    h3 {
      color: #fff;
      padding-top: 1em;
    }
  }
  &.filejet-active {
    /*background-color: #649316;*/
    background-image: url(images/header.jpg);
    background-size: cover;
  }
  p {
    &.filejet-key-status {
      font-size: 24px;
    }
    &.filejet-description {
      color: #fff;
      font-size: 14px;
      margin: 0 0;
      font-style: normal;
      a {
        color: #fff;
      }
    }
  }
}

.filejet-new-snapshot {
  margin-top: 1em;
  padding: 1em;
  text-align: center;
  background: #fff;
  h3 {
    background: #f5f5f5;
    color: #888;
    font-size: 11px;
    margin: 0;
    padding: 3px;
  }
}

.new-snapspot ul {
  font-size: 12px;
  width: 100%;
}

.filejet-new-snapshot ul li {
  color: #999;
  float: left;
  font-size: 11px;
  padding: 0 20px;
  text-transform: uppercase;
  width: 33%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  &:first-child, &:nth-child(2) {
    border-right: 1px dotted #ccc;
  }
  span {
    color: #52accc;
    display: block;
    font-size: 32px;
    font-weight: lighter;
    line-height: 1.5em;
  }
}

.filejet-settings {
  th {
    &:first-child {
      vertical-align: top;
      padding-top: 15px;
    }
    &.filejet-api-key {
      vertical-align: middle;
      padding-top: 0;
    }
  }
  input[type=text] {
    width: 75%;
  }
  span.filejet-note {
    float: left;
    padding-left: 23px;
    font-size: 75%;
    margin-top: -10px;
  }
}

/**
 * For the activation notice on the plugins page.
 */

.filejet_activate {
  min-width: 825px;
  border: 1px solidrgb(133, 98, 238);
  margin: 15px 0;
  background-image: url(images/header.jpg);
  background-size: cover;
  background-position: center;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  position: relative;
  overflow: hidden;
  img {
    width: 150px;
    float: left;
    padding: 0 2rem 0 1rem;
  }
  .wrapper {
    padding: 2.5rem 0;
  }
  .fj_button {
    font-weight: bold;
    border: 0;
    font-size: 14px;
    text-align: center;
    padding: 9px 13px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    background: rgb(103, 52, 255);
    border-radius: 0px;
    width: 100%;
    cursor: pointer;
    margin: 0;
  }
  .fj_button_border {
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    background: #fffdff;
  }
  .fj_button_container {
    display: inline-block;
    background: rgb(255, 255, 255);
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
  }
  .fj_description {
    top: 22px;
    left: 285px;
    margin-left: 25px;
    color: #FFF;
    font-size: 15px;
    z-index: 1000;
    padding-bottom: 1rem;
    strong {
      color: #FFF;
      font-weight: normal;
    }
  }
}

.filejet-header {
  text-align: center;
  border-bottom: 1px dotted rgba(200, 215, 225, 0.5);
  padding: 20px 0px 20px;
}

.filejet-header__logo {
  height: 80px;
}

.filejet-lower {
  margin: 0 auto;
  text-align: left;
  max-width: 45rem;
  padding: 1.5rem;
  .notice {
    margin-bottom: 2rem;
  }
}

.filejet-card {
  margin-top: 1rem;
  margin-bottom: 0;
  position: relative;
  margin: 0 auto 0.625rem auto;
  box-sizing: border-box;
  background: white;
  box-shadow: 0 0 0 1px rgba(200, 215, 225, 0.5), 0 1px 2px #e9eff3;
  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  .inside {
    &:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden;
    }
    padding: 1.5rem;
    padding-top: 1rem;
  }
  .filejet-card-actions {
    margin-top: 1rem;
  }
}

.filejet-header .filejet-right {
  line-height: 2.125rem;
  font-size: 0.9rem;
}

.filejet-box {
  box-sizing: border-box;
  background: white;
  border: 1px solid rgba(200, 215, 225, 0.5);
  &.filejet-box-transparent {
    background: transparent;
    border: 0;
  }
  h2, h3 {
    padding: 1.5rem 1.5rem .5rem 1.5rem;
    margin: 0;
  }
  p {
    padding: 0 1.5rem 1.5rem 1.5rem;
    margin: 0;
  }
}

.filejet-form-wrapper {
  padding: 0 1.5rem 1.5rem 1.5rem;
  margin: 0;
}

.filejet-input-wrapper {
  width: 100%;
  display: flex;
  box-sizing: border-box;
}

.filejet-box {
  p:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  .filejet-right {
    padding-right: 1.5rem;
  }
}

.filejet-boxes .filejet-box {
  margin-bottom: 0;
  padding: 0;
  margin-top: -1px;
  &:last-child {
    margin-bottom: 1.5rem;
  }
  &:first-child {
    margin-top: 1.5rem;
  }
}

.filejet-button {
  background: white;
  border-color: #c8d7e1;
  border-style: solid;
  border-width: 1px 1px 2px;
  color: #2e4453;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  outline: 0;
  overflow: hidden;
  font-size: 14px;
  font-weight: 500;
  text-overflow: ellipsis;
  text-decoration: none;
  vertical-align: top;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 21px;
  border-radius: 4px;
  padding: 7px 14px 9px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  &:hover, &:visited {
    background: white;
    border-color: #c8d7e1;
    border-style: solid;
    border-width: 1px 1px 2px;
    color: #2e4453;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    outline: 0;
    overflow: hidden;
    font-size: 14px;
    font-weight: 500;
    text-overflow: ellipsis;
    text-decoration: none;
    vertical-align: top;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 21px;
    border-radius: 4px;
    padding: 7px 14px 9px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  &:hover {
    border-color: #a8bece;
  }
  &:active {
    border-width: 2px 1px 1px;
  }
  .filejet-danger {
    border-color: #dd2029;
    background-color: #dd2029;
    color: white;
    border-radius: 0;
    padding: 9px 13px;
    font-size: 14px;
    font-weight: bold;
    border: none;
  }
}

.filejet-danger {
  &:hover, &:visited {
    border-color: #dd2029;
    background-color: #dd2029;
    color: white;
    border-radius: 0;
    padding: 9px 13px;
    font-size: 14px;
    font-weight: bold;
    border: none;
  }
}

.filejet-is-primary {
  &:hover, &:focus, &:hover {
    border-color: #005082;
  }
}

.filejet-section-header {
  position: relative;
  margin: 0 auto 0.625rem auto;
  padding: 1rem;
  box-sizing: border-box;
  box-shadow: 0 0 0 1px rgba(200, 215, 225, 0.5), 0 1px 2px #e9eff3;
  background: #ffffff;
  width: 100%;
  padding-top: 0.6875rem;
  padding-bottom: 0.6875rem;
  display: flex;
}

.filejet-section-header__label {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-positive: 1;
  flex-grow: 1;
  line-height: 1.75rem;
  position: relative;
  font-size: 0.875rem;
  color: #4f748e;
}

.filejet-section-header__actions {
  line-height: 1.75rem;
}

.filejet_form p {
  label {
    min-width: 75px;
    display: block;
    padding-top: 7px;
  }
  input {
    display: block;
    width: 100%;
    padding: 9px 3px;
    &.filejet-button {
      font-weight: bold;
      border: 0;
      font-size: 14px;
      text-align: center;
      padding: 9px 13px;
      color: rgb(255, 255, 255);
      text-transform: uppercase;
      background: rgb(103, 52, 255);
      border-radius: 0px;
      width: unset;
      cursor: pointer;
      margin: 0;
    }
  }
}

.fj_button {
  font-weight: bold;
  border: 0px;
  font-size: 14px;
  text-align: center;
  padding: 9px 13px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  background: rgb(103, 52, 255);
  border-radius: 0px;
  width: unset;
  cursor: pointer;
  margin: 0;
  text-decoration: none;
  &:hover {
    font-weight: bold;
    border: 0px;
    font-size: 14px;
    text-align: center;
    padding: 9px 13px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    background: rgb(106, 70, 214);
    border-radius: 0;
    width: unset;
    cursor: pointer;
    margin: 0;
    text-decoration: none;
  }
}

.filejet-danger-zone {
  background: #fff;
  padding: 1rem;
  border: 1px solid #dd3d36;
  margin-top: 1rem;
  h2 {
    margin: 0;
  }
}

input.filejet-danger {
  font-weight: bold;
  border: 0px;
  font-size: 14px;
  text-align: center;
  padding: 9px 13px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  background: #dd3d36;
  border-radius: 0px;
  width: unset;
  cursor: pointer;
  margin: 0;
  text-decoration: none;
}

.filejet-wrap {
  margin: 0;
  .nav-tab-active {
    background: #ffffff;
    border-bottom: 1px solid #ffffff;
  }
}

.filejet_form.filejet_config_form {
  padding-top: 1.5rem;
  background: #e5e5e5;
}

.arrows {
  padding: 16px 0 0;
  a {
    display: inline-block;
    border-radius: 4px;
    border: 1px dashed #d9d9d9;
    text-decoration: none;
    padding-right: 4px;
    padding-left: 4px;
    height: 28px;
    color: rgba(0, 0, 0, 0.65);
    transition: all ease 250ms;
    span {
      display: inline-block;
      padding: 4px 0;
    }
    &:focus{
      box-shadow: none!important;
    }
    &:hover{
      border: 1px solid #d9d9d9;
      transition: all ease 250ms;
    }
  }
}

/*stats list*/

.stats-wrapper {
  padding: 0 1.5rem .5rem 1.5rem;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.stats-list li {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  position: relative;
  max-width: calc(50% - 30px);
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 30px;
  img {
    width: 100%;
    max-width: 50px;
    padding: 0 10px 0 15px;
  }
  .stats-item {
    background-color: #ffffff;
    box-shadow: 0 0 15px 2px rgba(163, 163, 163, 0.24);
    width: 100%;
    max-height: 70px;
    display: flex;
    flex-direction: row;
    span {
      display: inline-block;
      padding: .75rem 0 .75rem .5rem;
      font-size: 1rem;
      strong {
        display: block;
        font-size: 1.2rem;
        padding-bottom: .5rem;
      }
    }
  }
}

.stats-chart {
  padding: 0 1.5rem .5rem 1.5rem;
  @media (max-width: 767px) {
    padding: 0 .5rem .5rem .5rem;
  }
}

p.info {
  text-align: right;
  padding: 1rem 1.5rem 0 1.5rem;
  @media (max-width: 767px) {
    text-align: left;
  }
  }

//dashboard widget

#filejet_dashboard_widget {

}

@media (max-width: 767px) {
  .stats-list li {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    position: relative;
    max-width: 100%;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 30px;
    .stats-item {
      max-width: 250px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .filejet_activate {
    img {
      max-width: 150px;
      width: 100%;
      float: none;
      padding: 0 2rem 0 1rem;
      text-align: center;
    }
    .img-wrapper {
      width: 100%;
      text-align: center;
    }
    .wrapper {
      text-align: center;
    }
  }
  .filejet-box p {
    display: block !important;
  }
  .filejet_form p label {
    padding-top: 0;
  }
}

@media (max-width: 825px) {
  .filejet_activate {
    min-width: unset;
  }
}