.filejet-alert-text {
	color: #dd3d36;
	font-weight: bold;
	font-size: 120%;
	margin-top: .5rem;
}
.filejet-alert {
	border: 1px solid #e5e5e5;
	padding: 0.4em 1em 1.4em 1em;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    border-width: 1px;
    border-style: solid;
}

.filejet-alert h3.filejet-key-status {
	color: #fff;
	margin: 1em 0 0.5em 0;
}

.filejet-alert.filejet-critical {
	background-color: #993300;
}

.filejet-alert.filejet-success {
	background-color: #369854;
}

.filejet-alert.filejet-success h3 {
	color: #fff;
	padding-top: 1em;
}

.filejet-alert.filejet-active {
	/*background-color: #649316;*/
	background-image: url(images/header.jpg);
	background-size: cover;
}

.filejet-alert p.filejet-key-status {
	font-size: 24px;
}

.filejet-alert p.filejet-description {
	color:#fff;
	font-size: 14px;
    margin: 0 0;
	font-style: normal;
}

.filejet-alert p.filejet-description a,
.filejet-alert p.filejet-description a,
.filejet-alert p.filejet-description a,
.filejet-alert p.filejet-description a {
	color: #fff;
}

.filejet-new-snapshot {
	margin-top: 1em;
	padding: 1em;
	text-align: center;
	background: #fff;
}

.filejet-new-snapshot h3 {
    background: #f5f5f5;
	color: #888;
	font-size: 11px;
    margin: 0;
    padding: 3px;
}

.new-snapspot ul {
	font-size: 12px;
	width: 100%;
}

.filejet-new-snapshot ul li {
    color: #999;
	float: left;
    font-size: 11px;
	padding: 0 20px;
    text-transform: uppercase;
	width: 33%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
}

.filejet-new-snapshot ul li:first-child,
.filejet-new-snapshot ul li:nth-child(2) {
	border-right:1px dotted #ccc;
}

.filejet-new-snapshot ul li span {
    color: #52accc;
	display: block;
	font-size: 32px;
	font-weight: lighter;
	line-height: 1.5em;
}

.filejet-settings th:first-child {
	vertical-align: top;
	padding-top: 15px;
}

.filejet-settings th.filejet-api-key {
	vertical-align: middle;
	padding-top: 0;
}

.filejet-settings input[type=text] {
	width: 75%;
}

.filejet-settings span.filejet-note{
	float: left;
	padding-left: 23px;
	font-size: 75%;
	margin-top: -10px;
}

/**
 * For the activation notice on the plugins page.
 */
.filejet_activate {
	min-width: 825px;
	border: 1px solidrgb(133, 98, 238);
	margin: 15px 0;
	background-image: url(images/header.jpg);
	background-size: cover;
	background-position: center;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	position: relative;
	overflow: hidden;
}

.filejet_activate img {
	width: 150px;
	float: left;
	padding: 0 2rem 0 1rem;
}

.filejet_activate .wrapper {
	padding: 2.5rem 0;
}

.filejet_activate .fj_button {
	font-weight: bold;
	border: 0;
	font-size: 14px;
	text-align: center;
	padding: 9px 13px;
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	background: rgb(103, 52, 255);
	border-radius: 0px;
	width: 100%;
	cursor: pointer;
	margin: 0;
}

.filejet_activate .fj_button_border {
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	background: #fffdff;
}

.filejet_activate .fj_button_container {
	display: inline-block;
	background: rgb(255, 255, 255);
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
}

.filejet_activate .fj_description {
	top: 22px;
	left: 285px;
	margin-left: 25px;
	color: #FFF;
	font-size: 15px;
	z-index: 1000;
	padding-bottom: 1rem;
}

.filejet_activate .fj_description strong {
	color: #FFF;
	font-weight: normal;
}

.filejet-header {
	text-align:center;
	border-bottom: 1px dotted rgba(200,215,225,0.5);
	padding: 20px 0px 20px;
}

.filejet-header__logo {
	height: 80px;
}

.filejet-lower {
	margin: 0 auto;
	text-align: left;
	max-width: 45rem;
	padding: 1.5rem;
}

.filejet-lower .notice {
	margin-bottom: 2rem;
}

.filejet-card {
	margin-top: 1rem;
	margin-bottom: 0;
	position: relative;
	margin: 0 auto 0.625rem auto;
	box-sizing: border-box;
	background: white;
	box-shadow: 0 0 0 1px rgba(200, 215, 225, 0.5), 0 1px 2px #e9eff3;
}

.filejet-card:after, .filejet-card .inside:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.filejet-card .inside {
	padding: 1.5rem;
	padding-top: 1rem;
}

.filejet-card .filejet-card-actions {
	margin-top: 1rem;
}

.filejet-header .filejet-right {
	line-height: 2.125rem;
	font-size: 0.9rem;
}

.filejet-box {
	box-sizing: border-box;
	background: white;
	border: 1px solid rgba(200, 215, 225, 0.5);
}

.filejet-box.filejet-box-transparent {
	background: transparent;
	border: 0;
}

.filejet-box h2, .filejet-box h3 {
	padding: 1.5rem 1.5rem .5rem 1.5rem;
	margin: 0;
}

.filejet-box p {
	padding: 0 1.5rem 1.5rem 1.5rem;
	margin: 0;
}

.filejet-form-wrapper {
	padding: 0 1.5rem 1.5rem 1.5rem;
	margin: 0;
}

.filejet-input-wrapper {
	width: 100%; display: flex; box-sizing: border-box;
}


.filejet-box p:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.filejet-box .filejet-right {
	padding-right: 1.5rem;
}

.filejet-boxes .filejet-box {
	margin-bottom: 0;
	padding: 0;
	margin-top: -1px;
}

.filejet-boxes .filejet-box:last-child {
	margin-bottom: 1.5rem;
}

.filejet-boxes .filejet-box:first-child {
	margin-top: 1.5rem;
}

.filejet-button, .filejet-button:hover, .filejet-button:visited {
	background: white;
	border-color: #c8d7e1;
	border-style: solid;
	border-width: 1px 1px 2px;
	color: #2e4453;
	cursor: pointer;
	display: inline-block;
	margin: 0;
	outline: 0;
	overflow: hidden;
	font-size: 14px;
	font-weight: 500;
	text-overflow: ellipsis;
	text-decoration: none;
	vertical-align: top;
	box-sizing: border-box;
	font-size: 14px;
	line-height: 21px;
	border-radius: 4px;
	padding: 7px 14px 9px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.filejet-button:hover {
	border-color: #a8bece;
}

.filejet-button:active {
	border-width: 2px 1px 1px;
}


.filejet-button .filejet-danger, .filejet-danger:hover, .filejet-danger:visited{
	border-color: #dd2029;
	background-color:  #dd2029;
	color: white;
	border-radius: 0;
	padding: 9px 13px;
	font-size: 14px;
	font-weight: bold;
	border: none;
}


.filejet-is-primary:hover, .filejet-is-primary:focus {
    border-color: #005082;
}

.filejet-is-primary:hover {
	border-color: #005082;
}

.filejet-section-header {
	position: relative;
	margin: 0 auto 0.625rem auto;
	padding: 1rem;
	box-sizing: border-box;
	box-shadow: 0 0 0 1px rgba(200, 215, 225, 0.5), 0 1px 2px #e9eff3;
	background: #ffffff;
	width: 100%;
	padding-top: 0.6875rem;
	padding-bottom: 0.6875rem;
	display: flex;
}

.filejet-section-header__label {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-positive: 1;
	flex-grow: 1;
	line-height: 1.75rem;
	position: relative;
	font-size: 0.875rem;
	color: #4f748e;
}

.filejet-section-header__actions {
	line-height: 1.75rem;
}

.filejet_form p label {
	min-width: 75px;
	display: block;
	padding-top: 7px;
}

.filejet_form p input {
	display: block;
	width: 100%;
	padding: 9px 3px;
}

.filejet_form p input.filejet-button {
	font-weight: bold;
	border: 0;
	font-size: 14px;
	text-align: center;
	padding: 9px 13px;
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	background: rgb(103, 52, 255);
	border-radius: 0px;
	width: unset;
	cursor: pointer;
	margin: 0;
}

.fj_button {
	font-weight: bold;
	border: 0px;
	font-size: 14px;
	text-align: center;
	padding: 9px 13px;
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	background: rgb(103, 52, 255);
	border-radius: 0px;
	width: unset;
	cursor: pointer;
	margin: 0;
	text-decoration: none;
}

.fj_button:hover {
	font-weight: bold;
	border: 0px;
	font-size: 14px;
	text-align: center;
	padding: 9px 13px;
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	background: rgb(106, 70, 214);
	border-radius: 0;
	width: unset;
	cursor: pointer;
	margin: 0;
	text-decoration: none;
}

.filejet-danger-zone {
	background: #fff;
	padding: 1rem;
	border: 1px solid #dd3d36;
	margin-top: 1rem;
}

.filejet-danger-zone h2{
	margin: 0;
}

input.filejet-danger{
	font-weight: bold;
	border: 0px;
	font-size: 14px;
	text-align: center;
	padding: 9px 13px;
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	background: #dd3d36;
	border-radius: 0px;
	width: unset;
	cursor: pointer;
	margin: 0;
	text-decoration: none;
}

.filejet-wrap {
	margin: 0;
}

.filejet-wrap .nav-tab-active {
	background: #ffffff;
	border-bottom: 1px solid #ffffff;
}

.filejet_form.filejet_config_form {
	padding-top: 1.5rem;
	background: #e5e5e5;
}

@media(max-width: 767px) {
	.filejet_activate img {
		max-width: 150px;
		width: 100%;
		float: none;
		padding: 0 2rem 0 1rem;
		text-align: center;
	}

	.filejet_activate .img-wrapper {
		width: 100%;
		text-align: center;
	}

	.filejet_activate .wrapper {
		text-align: center;
	}
	.filejet-box p {
		display: block!important;
	}
	.filejet_form p label {
		padding-top: 0;
	}
}

@media(max-width: 825px){
	.filejet_activate{
		min-width: unset;
	}
}
